/*  PLEASE READ ME
**  please merge me to your master css file
/* ------------------------------------ */

.top-notif i.shipping-icon{
	background-image: url("assets/img/shipping-icon.png");
}

.top-notif a .btn-cart{
	background-image: url("assets/img/white-cart.png");
}

#search .new_form_control{
	background-image: url("assets/img/new-black-search.png") !important;
}

.box-help .inner:before{
	background-image: url("assets/img/bg_help.png");
}

#footer{
	overflow: hidden;
	padding-bottom: 25px;
}

.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email], 
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel], 
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text], 
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url], 
.gform_wrapper .ginput_complex input[type=email], 
.gform_wrapper .ginput_complex input[type=number], 
.gform_wrapper .ginput_complex input[type=password], .gform_wrapper .ginput_complex input[type=tel], 
.gform_wrapper .ginput_complex input[type=text], 
.gform_wrapper .ginput_complex input[type=url]{
	width: 97.5% !important;
}

.form-group select{
	border-radius: 0;
}

/* --------------------- */
.space15{
	width: 100%;
	display: block;
	height: 15px;
}

.red{
	color: red;
}

.nobord{
	border-bottom: none !important;
}

.center-button{
	text-align: center;
	margin-bottom: 60px;
}

.center-button .close-ribbon{
	cursor: pointer;
}

.prod-detail-new figure,
#carousel img,
.subitem-ribbon-detail{
	border: 1px solid #eee;
	padding: 5px;
	background-color: #f9f9f9;
}

/* SLIDER */
#slider{
	position: relative;
	padding-bottom: 60px;
}

.counter-slider{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.counter-slider .current-slide{
	font-weight: bold;
	color: black;
}
.counter-slider .btn-cart-blue{
	position: absolute;
	right: 0;
	top: -10px;
}

#carousel li{
	margin: 0 5px;
}

#carousel li img{
	cursor: pointer;
}

.item-ribbon-detail{
	position: relative;
	margin-bottom: 30px;
}

/* NAVIGATION */
.new_navigation ul .active a{
	color: black;
	border-bottom: 2px solid black;
}

/* FORM */
.form-category-new .label-group{
	text-align: left;
	margin-bottom: 5px;
}

.form-category-new .form-group{
	margin-left: 0;
}

.form-cart .item{
	padding: 20px 0;
	border-bottom: 1px solid #dfdfdf;
}

.form-cart .label-item{
	font-weight: bold;
	font-size: 18px;
}

.form-cart .item.text-center{
	font-size: 16px;
}

.form-cart p a{
	color: #4f4e4c;
}

.form-cart p a:hover,
.form-cart p a:focus{
	color: #428bca;
	text-decoration: none;
}

.form-cart .group-combo{
	width: 100%;
	display: block;
}

.form-cart .btn-combo{
	position: relative;
	width: 100%;
	font-size: 16px;
	padding: .5em 2em .5em .5em;
	background: white;
	color: #a6a6a6;
	border: 1px solid #D2D2D2;
	display: block;
	text-decoration: none;
	overflow: hidden;
	text-transform: capitalize;
}

.form-cart .btn-combo .icon{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 42px;
	height: 38px;
	font-size: 10px;
	line-height: 42px;
	text-align: center;
	color: white;
	background: #D2D2D2;
}


.item-qty .label-item{
	float: left;
	margin-top: .5em;
}

.group-qty{
	float:right;
}

.group-qty button{
	border: 1px solid #a6a6a6;
	background: transparent;
	color: #a6a6a6;
	height: 26px;
	width: 26px;
	line-height: 16px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	font-size: 24px;
	transition: all 350ms ease;
}

.group-qty button:hover,
.group-qty button:focus{
	border-color: #0072bc;
	color: #0072bc;
}

.group-qty input{
	max-width: 60px;
	text-align: center;
	font-size: 16px;
	padding: .5em 1em;
}

.group-combo .dropdown-menu{
	width: 100%;
	border-radius: 0;
	margin-top: 0;
	border: 1px solid #d2d2d2;
}

.group-combo .dropdown-menu > li > a{
	padding: 5px 20px ;
	color: #a6a6a6;
}

/* PRODUCT-DETAIL-NEWER */
.prod-detail-newer{
	position: relative;
}

.prod-detail-img figure{
	position: relative;
	overflow: hidden;
}

.prod-detail-desc{
	position: relative;
}

.list-fiture{
	margin-bottom: 20px;
}

.list-fiture li{
	display: block;
	margin-bottom: 0px;
}

.list-fiture .label-fiture{
	font-weight: bold;
	text-transform: capitalize;
}

.prod-detail-desc .number-item{
	font-size: 18px;
}

/* BOX-CART-NEWER */
.box-cart-newer{
	position: relative;
	margin-bottom: 30px;
	background-color: #f2f2f2;
	border: 1px solid #dfdfdf;
	padding: 10px 20px;
}

/* RIBBON */
.gallery-ribbon{
	margin-left: 0;
	margin-right: 0;
}
.item-ribbon{
	position: relative;
	margin-bottom: 30px;
}

.item-ribbon .subitem-ribbon{
	position: relative;
}

.item-ribbon .subitem-ribbon img{
	width: 100%;
	position: relative;
}
.item-ribbon .caption-content{
	position: relative;
	overflow: hidden;
}

.subitem-ribbon:hover .caption-hover,
.subitem-ribbon:focus .caption-hover{
	top: 0;
}

.item-ribbon .caption-hover{
	transition: all 350ms cubic-bezier(0.07, 0.32, 0.99, 1.01);
	display: block;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(193, 223, 211, 0.85) !important;
}
.item-ribbon .subcaption{
	position: absolute;
	z-index: 2222;
	width: 90%;
	height: 80%;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	color: black;
	text-align: center;
}
.item-ribbon .subcaption h4,
.item-ribbon .subcaption .big-info{
	color: #666666;	
}

.item-ribbon .subcaption h4{
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 18px;
	text-transform: capitalize;	
}

.item-ribbon .list-sizes li{
	margin-right: 5px;
	display: inline-block;
}
.item-ribbon .list-sizes li:last-child{
	margin-right: 0;
}
.item-ribbon .list-sizes a{
	display: block;
	padding: 4px 12px;
	border: 1px solid transparent;
	font-size: 18px;
	font-weight: bold;
	min-width: 74px;
}

.item-ribbon .list-sizes a:hover,
.item-ribbon .list-sizes a:focus{
	opacity: .9;
}

.item-ribbon .subcaption .big-info{
	font-size: 20px;
	font-weight: bold;
}
.item-ribbon .option{
	position: relative;
}
.item-ribbon .option li{
	float: left;
	width: 50%;
}
.item-ribbon .option li:first-child a:after{
	content: "";
	position: absolute;
	left: 100%;
	height: 100%;
	top: 0;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.50);
	z-index: 1;
	
}

.item-ribbon .option li a{
	position: relative;
	transition: all 350ms ease-out;
	background: #B9DACD;
	padding: 15px 0;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	margin-right: -4px;
	/*border-right: 1px solid #f1f1f1;*/
	display: block;
	font-weight: 700;
	width: 100%;
	text-align: center;
	font-family: 'museo_sans500';
}

.item-ribbon .option li a:hover,
.item-ribbon .option li a:focus{
	background-color: #C1DFD3;
}

.list-sizes li:nth-child(1) a{
	background-color: #ff6b7a;
	border-color: #ff6b7a;
	color: white;
}
.list-sizes li:nth-child(2) a{
	background-color: transparent;
	border-color: white;
}

.pagination a{
	padding: 5px 8px;
}
.pagination .next{
	border: 1px solid #C1DFD3;
	color: #C1DFD3;
	transition: all 250ms ease;
}
.pagination .next:hover,
.pagination .next:focus{
	color: #4f4e4c;
	border-color: #4f4e4c;
}

/* MEDIA-QUERIES */
@media (max-width: 1200px) {
	.item-qty .label-item{
		float: none;
		display: block;
		margin-top: 0;
	}
	.group-qty{
		float: left;
		margin-top: 5px;
	}
	.group-qty input{
		max-width: 100px;
	}
}
@media (max-width: 990px) {
    .group-qty{
    	width: 100%;
    }
    .group-qty input{
    	max-width: inherit;
    	width: 80%;
    }
}
@media (max-width: 570px) {
    .item-ribbon{
    	width: 100%;
    }
}